.contactUs {
  .title {
    font-family: serif;
    letter-spacing: 5px;
  }

  .content {
    width: 700px;
    font-size: 40px;
    font-family: serif;
    font-style: italic;
    text-align: center;
  }

  .btnSubmit:hover {
    color: var(--color-white) !important;
    background-color: var(--color-black) !important;
  }
}

.contentContact {
  height: 100vh;
  color: var(--color-white);
  margin-bottom: 50px;
}
