@import "../../../assets/scss/common.scss";

.shop {
  display: grid;
  grid-template-columns: 520px 150px 520px;
  justify-content: center;
}

.contentShop {
  height: 100vh;
  color: $color-white;
  margin-bottom: 50px;

  .card {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 320px;
    height: 420px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
  }

  // card of men
  .cardMen {
    background-image: url(../../../assets/image/men.png);
  }

  .cardMen:hover:after {
    content: "Men";
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
  }

  // card of women
  .cardWomen {
    background-image: url(../../../assets/image/women.png);
  }

  .cardWomen:hover:after {
    color: $color-black;
    content: "Women";
  }
}
