@import "../../../assets/scss/common.scss";

.shop {
  display: grid;
  grid-template-columns: 520px 150px 520px;
  justify-content: center;
  padding: 50px 0px;

  .filter {
    width: 100%;
    gap: 20px;

    :global {
      .btn-select .ant-select-selector .ant-select-selection-item {
        padding: 0;
        font-size: 18px;
        text-align: start;
        font-weight: 600;
      }

      .btn-select .ant-select-selector {
        background-color: $color-dark-blue;
        opacity: 0.9;
        color: $color-white;
        width: 100px;
      }
    }
  }
}

.contentShop {
  height: 100vh;
  color: $color-white;
  margin-bottom: 50px;
}
