@import "../../../assets/scss/common.scss";

.shop {
  display: grid;
  grid-template-columns: 520px 150px 520px;
  justify-content: center;
  padding: 50px 0px;

  .filter {
    width: 100%;
    gap: 20px;
    padding: 20px 0;
    border-bottom: 1px solid $color-black;
    border-top: 1px solid $color-black;
  }

  .btn {
    height: 40px;
    padding: 0 20px;
  }

  .listFilter {
    width: 100%;
    min-height: auto;
    margin-top: 20px;
    padding: 30px 25px;
    row-gap: 20px;

    .listBtnFilter {
      column-gap: 10px;
      margin-top: 20px;

      .btnFilters {
        width: 100px;
        padding: 10px 0;
        background: $color-black;
        color: $color-white;
        border: none;
        cursor: pointer;
      }

      .btnApply:hover,
      .btnClear:hover,
      .btnClose:hover {
        opacity: 0.8;
      }
    }
  }
}

.contentShop {
  height: 100vh;
  color: $color-white;
  margin-bottom: 50px;
}
