.home {
  padding-top: 80px;
  gap: 80px;

  .title {
    font-size: 40px;
    font-family: serif;
  }

  .containA {
    .btnSeeAll:hover {
      color: var(--color-white) !important;
      background-color: var(--color-blue-music) !important;
    }
  }

  .containB {
    background-image: url(../../../assets/image/shoes1.jpg);
    background-color: var(--color-dark-gray);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;

    .titleImg {
      font-size: 40px;
      color: var(--color-white);
      text-align: center;
      font-family: "Cormorant Garamond", serif;
      font-style: italic;
      font-weight: 600;
      width: 450px;
    }
  }

  .containC {
    height: auto;
    width: 100%;
    .btnViewCollection {
      background-color: var(--color-black);

      &:hover {
        background-color: var(--color-black) !important;
        color: var(--color-white) !important;
      }
    }
  }

  .man {
    flex-direction: row-reverse;
  }

  .containD {
    z-index: 0;
  }
}

.contentHome {
  height: 100vh;
  color: var(--color-white);
}
