@import "../../../assets/scss/common.scss";

.home {
  padding-top: 80px;
  gap: 80px;

  .title {
    font-size: 40px;
    font-family: serif;
  }

  .containA {
    .btnSeeAll {
      font-size: 14px;
      font-weight: 600;
      padding: 15px 35px;
      color: $color-blue-music;
      border-color: $color-blue-music;
      letter-spacing: 3px;
      border-radius: unset;
      margin-top: 30px;
    }

    .btnSeeAll:hover {
      color: $color-white;
      background-color: $color-blue-music;
    }
  }

  .containB {
    background-image: url(../../../assets/image/shoes1.jpg);
    background-color: $color-dark-gray;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: auto;

    .titleImg {
      font-size: 40px;
      color: $color-white;
      text-align: center;
      font-family: "Cormorant Garamond", serif;
      font-style: italic;
      font-weight: 600;
      width: 450px;
    }

    .btnRegisterNow {
      font-size: 14px;
      font-weight: 600;
      padding: 20px 40px;
      color: $color-white;
      border-color: $color-white;
      letter-spacing: 4px;
      border-radius: unset;
    }

    .btnRegisterNow:hover {
      color: $color-black;
      background-color: $color-white;
    }
  }

  .containC {
    height: auto;

    .btnViewCollection {
      font-size: 14px;
      font-weight: 600;
      padding: 20px 40px;
      color: $color-white;
      border-color: $color-white;
      letter-spacing: 4px;
      border-radius: unset;
      background-color: $color-black;
      margin-top: 20px;
    }
  }

  .man {
    flex-direction: row-reverse;
  }

  .containD {
    z-index: 0;
  }
}

.contentHome {
  height: 100vh;
  color: $color-white;

  .btnRegisterNow {
    font-size: 14px;
    font-weight: 600;
    padding: 20px 40px;
    color: $color-white;
    border-color: $color-white;
    letter-spacing: 4px;
    border-radius: unset;
  }

  .btnRegisterNow:hover {
    color: $color-black;
    background-color: $color-white;
  }
}
