.footer {
  background-color: var(--color-gray-white);
  padding: 60px 0px;

  .introduction {
    padding-right: 25px;
  }

  .information,
  .introduction,
  .customerPolicy,
  .socialMedia {
    font-size: --size-s;
    gap: 10px;
  }

  h3 {
    font-family: "math";
  }
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  padding: 0 30px;
}
