@import "../../../../../assets/scss/common.scss";

.Panel {
  height: 200px;

  .btnPanel:hover {
    color: var(--color-white) !important;
    background-color: var(--color-blue-music) !important;
  }
}

.boxContainer {
  max-height: 365px;
  overflow-y: scroll;
}

@media (min-height: 919px) {
  .boxContainer {
    max-height: 630px;
  }
}
