// color
$color-white: #ffffff;
$color-black: #000000;
$color-red: #f7444e;
$color-dark-blue: #002c3e;
$color-blue-music: #78bcc4;
$color-gray-white: #f7f8f3;
$color-dark-gray: #8d8d8d;

// size
$size-s: 14px;
$size-m: 16px;
$size-l: 18px;

// flex
.flex {
  display: flex;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-direction-column {
  flex-direction: column;
}

// flex justify
.flex-justify-center {
  justify-content: center;
}

.flex-justify-flex-end {
  justify-content: flex-end;
}

.flex-justify-space-between {
  justify-content: space-between;
}

//flex align
.flex-align-center {
  align-items: center;
}

.flex-align-flex-start {
  align-items: flex-start;
}

// text-align
.text-align-left {
  text-align: left;
}

// font-size
.font-s {
  font-size: 14px;
}

.font-m {
  font-size: 16px;
}

.font-l {
  font-size: 18px;
}
