.header {
  background-color: aliceblue;
  height: 100px;
  display: flex;
  justify-content: space-between;

  &-content-first {
    display: flex;
    height: inherit;
    flex-direction: row;
    overflow: hidden;
  }

  &-img {
    object-fit: cover;
    height: -webkit-fill-available;
    width: auto;
  }

  .menu {
    display: flex;
    column-gap: 10px;
    list-style-type: none;

    & li {
      display: flex;
      align-items: center;
    }
  }
}
