@import "../../../assets/scss/common.scss";

.card {
  .imgCard {
    position: relative;
    z-index: -2;
  }

  .btnCardSmall {
    top: 5px;
    right: 5px;
  }

  .btnCardBig {
    top: 10px;
    right: 10px;
  }

  .btnCard {
    position: absolute;
    row-gap: 10px;
    display: none;

    .iConButton {
      background-color: var(--color-gray-white);
      color: var(--color-black);
      opacity: 0.5;
    }

    .iConButton:hover {
      opacity: 1;
    }
  }
}

.card:hover .btnCard {
  display: inline-flex;
}
